* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Roboto', sans-serif;
}

body {
    font-family: var(--fonte2);
    font-weight: bold;
}
h1 {
    font-size: 2.8em;
    color: red;
    margin-left: 1.2em;
    margin-top: 20px;
    font-style: italic;
    letter-spacing: -2px;
}
li {
    display: inline-block;
    float: right;
    margin-right: 2em;
    margin-top: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.bt {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 55px;
}
section#principal {
    margin-top: 75px;
    margin-left: 170px;
}
img {
    width: 400px;
}
section#conteiner {
    position: absolute;
    left: 60%;
    top: 200px;
}
p {
    font-size: 1.3em;
}
p.textred {
    font-size: 3.5em;
    color: red;
    margin-bottom: 30px;
}
button {
    background-color: red;
    color: white;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    padding: 10px 55px;
}