* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;;
}
header {
    margin: 1em;
}
nav {
    float: right;
}
li {
    display: inline;
    position: relative;
    padding-right: 2vw;
}
li > a {
    color: black;
    text-decoration: none;
}
#login {
    background-color: #D6000D;
    color: white;
    font-weight: bold;
    padding: 8px 40px;
    border-radius: 8px;
}
#img01 {
    width: 28vw;
    height: auto;
    transform: translate(35%, 30%);
}
section {
    text-align: right;
    transform: translate(-10%, -120%);
}
section > p {
    font-size: 2.5em;
}
section > h2 {
    font-size: 4.2em;
    transform: translate(20px, 0px)
}
p {
    font-weight: bold;
}
h2 {
    color: #D6000D;
}