* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Roboto', sans-serif;
}

body {
    font-family: var(--fonte2);
    font-weight: bold;
}
main {
    background-color: white;
    max-width: 1440px;
    min-width: 768px;
    margin: auto;
}
h1 {
    font-size: 2.8em;
    color: red;
    margin-left: 1.2em;
    margin-top: 20px;
    font-style: italic;
    letter-spacing: -2px;
}
nav {
    text-align: right;
    margin-top: -30px;
}
li {
    display: inline-block;
    margin-right: 2em;
    
}
a {
    text-decoration: none;
    color: black;
}
.bt {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 55px;
}
section#principal {
    margin-right: 55px;
    margin-top: 75px;
    margin-left: 100px;
}
img {
    width: 400px;
}
section#conteiner {
    text-align: right;
    
    margin-top: -250px;
}
p {
    font-size: 1.3em;
}
p.textred {
    font-size: 3.5em;
    color: red;
    margin-bottom: 30px;
}
button {
    background-color: red;
    color: white;
    font-size: 1.3em;
    border: none;
    border-radius: 10px;
    padding: 10px 55px;
}

@media screen and (max-width: 1020px) {
    img {
        width: 350px;
    }
    p {
        font-size: 1em;
    }
    p.textred {
        font-size: 3em;
        color: red;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 910px) {
    img {
        width: 250px;
    }
    section#conteiner {
        text-align: right;
        
        margin-top: -200px;
    }
    p {
        font-size: 1em;
    }
    p.textred {
        font-size: 2.5em;
        color: red;
        margin-bottom: 30px;
    }
}